Repository outflanknl/RedELK, pull requests merged in 2020-11, with the labels that each got.

#77 Maindev py alarms
  elkserver/docker/redelk-base/redelkinstalldata/scripts/enrich.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_httptraffic/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_lastline/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/helpers.py
Labels: docker, elkserver

#80 Removed SendMail.py (now part of email connector)
  elkserver/docker/redelk-base/redelkinstalldata/scripts/SendMail.py
Labels: docker, elkserver

#81 Kibana fixes
  elkserver/docker/redelk-base/redelkinstalldata/42_redelk-base-docker-init.sh
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_settings.json
Labels: docker, elkserver

#83 Several fixes in alarm and enrich
  elkserver/docker/redelk-base/redelkinstalldata/42_redelk-base-docker-init.sh
  elkserver/docker/redelk-base/redelkinstalldata/scripts/alarm.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/enrich.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/iocsources/ioc_hybridanalysis.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/iocsources/ioc_ibm.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/iocsources/ioc_vt.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_dummy/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_httptraffic/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_lastline/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_useragent/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/email/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/helpers.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/msteams/module.py
Labels: docker, elkserver

#86 Tls certs env
  elkserver/docker/redelk-logstash/redelkinstalldata/redelk-main/conf.d/10-input_filebeat_logstash.conf
  elkserver/docker/redelk-logstash/redelkinstalldata/redelk-main/conf.d/99-outputs_logstash.conf
  elkserver/redelk-dev.yml
Labels: docker, elkserver, installer

#87 fix in alarm useragens - bad refactoring
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_useragent/module.py
Labels: docker, elkserver

#88 Update of alarms using old query names
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_dummy/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_httptraffic/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_useragent/module.py
Labels: docker, elkserver

#93 Add docker deployment for prod
  VERSION
  elkserver/.env.tmpl
  elkserver/install-elkserver.sh
  elkserver/redelk-full.yml
  elkserver/redelk-limited.yml
Labels: documentation, elkserver, installer

#94 Docker CI/CD workflows update
  .github/workflows/docker-build-dev-base.yml
  .github/workflows/docker-build-dev-elasticsearch.yml
  .github/workflows/docker-build-dev-jupyter.yml
  .github/workflows/docker-build-dev-kibana.yml
  .github/workflows/docker-build-dev-logstash.yml
  .github/workflows/docker-build-prd-base.yml
  .github/workflows/docker-build-prd-elasticsearch.yml
  .github/workflows/docker-build-prd-jupyter.yml
  .github/workflows/docker-build-prd-kibana.yml
  .github/workflows/docker-build-prd-logstash.yml
  README.md
Labels: documentation, githubci

#95 Fixed release note pipeline
  .github/workflows/release-drafter.yml
Labels: githubci

#107 BUGFIX: installer bash syntax error
  elkserver/install-elkserver.sh
Labels: elkserver, installer

#79 Added TLS support for nginx
  .gitignore
  certs/config.cnf
  elkserver/.env.tmpl
  elkserver/init-letsencrypt.sh
  elkserver/install-elkserver.sh
  elkserver/mounts/nginx-config/default.conf.template
  elkserver/mounts/nginx-config/htpasswd.users.template
  elkserver/mounts/nginx-config/ssl-dhparams.pem.template
  elkserver/mounts/redelk-config/etc/redelk/config.json
  elkserver/redelk-dev.yml
  elkserver/redelk-full.yml
  elkserver/redelk-limited.yml
Labels: elkserver, installer

#111 Fix for dev and non-existent domain
  elkserver/install-elkserver.sh
  elkserver/redelk-dev.yml
Labels: elkserver, installer

#113 Fix search with free text
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_implantsdb.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_redirtraffic.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_rtops.json
Labels: docker, elkserver

#112 Upgrade to Elastic 7.10
  elkserver/docker/redelk-base/Dockerfile
  elkserver/docker/redelk-elasticsearch/Dockerfile
  elkserver/docker/redelk-kibana/Dockerfile
  elkserver/docker/redelk-logstash/Dockerfile
Labels: docker, elkserver, installer

#82 [dev] Add sample data ingestor
  elkserver/mounts/sample-data/filebeat.yml
  elkserver/mounts/sample-data/logs/apache2.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200329/10.99.1.4/beacon_1233239984.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200329/10.99.1.4/beacon_2019412980.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200329/10.99.1.4/beacon_496538698.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200329/10.99.1.4/keystrokes/keystrokes_496538698.txt
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200329/10.99.1.4/screenshots/screen_012702_496538698.jpg
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200329/10.99.1.4/screenshots/screen_030037_2019412980.jpg
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200329/events.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200329/weblog_80.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/10.1.2.10/beacon_455228.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/10.1.3.10/beacon_358093816.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/10.1.3.10/beacon_688141424.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/10.1.3.10/beacon_936715360.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/10.1.3.10/keystrokes/keystrokes_936715360.txt
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/10.1.3.10/screenshots/screen_075707_936715360.jpg
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/10.1.3.10/screenshots/screen_075830_936715360.jpg
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/10.1.3.10/screenshots/screen_080335_936715360.jpg
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/10.1.3.11/beacon_1282172642.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/10.1.4.10/beacon_22170412.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/10.1.4.10/beacon_702687076.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/downloads.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/events.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200330/weblog_80.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200331/weblog_80.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200401/weblog_80.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200402/weblog_80.log
  elkserver/mounts/sample-data/logs/cobaltstrike/logs/200403/weblog_80.log
  elkserver/mounts/sample-data/logs/cobaltstrike/profiles/.DS_Store
  elkserver/mounts/sample-data/logs/cobaltstrike/profiles/MallableConfig-DomainFronting.profile
  elkserver/mounts/sample-data/logs/cobaltstrike/uploads/OfferNr2020F6592_salary.doc
  elkserver/mounts/sample-data/logs/haproxy.log
  elkserver/mounts/sample-data/logs/nginx.log
  elkserver/redelk-dev.yml
Labels: elkserver, installer

#100 Added dry-run mode
  elkserver/install-elkserver.sh
Labels: elkserver, installer

#99 Randomize Neo4j password at install
  .github/workflows/release-drafter.yml
  elkserver/.env.tmpl
  elkserver/install-elkserver.sh
Labels: elkserver, githubci, installer

#115 Template updates regarding CS4.2 and other tuning
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_implantsdb.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_redirtraffic.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_rtops.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_search.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_implantsdb.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_redirtraffic.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_rtops.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_implantsdb.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_redirtraffic.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_rtops.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_search.ndjson
Labels: docker, elkserver

#116 Updated helper script
  helper-scripts/export_kibana_config.py
Labels: helpers

#119 Added localhost as valid hostname
  .github/workflows/docker-build-dev-base.yml
  .github/workflows/docker-build-dev-elasticsearch.yml
  .github/workflows/docker-build-dev-jupyter.yml
  .github/workflows/docker-build-dev-kibana.yml
  .github/workflows/docker-build-dev-logstash.yml
  elkserver/docker/redelk-elasticsearch/redelkinstalldata/instances.yml
Labels: docker, elkserver, githubci

#120 Fixed missing logger initialisation
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_useragent/module.py
Labels: docker, elkserver

#122 logstash email index fields renaming
  elkserver/docker/redelk-logstash/redelkinstalldata/redelk-main/conf.d/12-input_email_logstash.conf
  elkserver/docker/redelk-logstash/redelkinstalldata/redelk-main/conf.d/30-filter-email_logstash.conf
Labels: docker, elkserver

#123 Updated templates for bluecheck, email and credentials
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_bluecheck_new.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_email.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_bluecheck.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_credentials.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_email.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_bluecheck.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_email.ndjson
  helper-scripts/export_kibana_config.py
Labels: docker, elkserver, helpers

#121 Refreshed index patterns
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_implantsdb.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_redirtraffic.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_rtops.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_redirtraffic.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_rtops.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_implantsdb.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_redirtraffic.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_rtops.ndjson
Labels: docker, elkserver
