Repository outflanknl/RedELK, pull requests merged in 2021-11, with the labels that each got.

#205 Make Kibana 5601 port always accessible from localhost elkserver
  elkserver/redelk-full.yml
  elkserver/redelk-limited.yml
Labels: elkserver, installer

#206 Fixed incorrect tr regex on password generation
  elkserver/install-elkserver.sh
Labels: elkserver, installer

#207 Add missing Greynoise API key in header
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_greynoise/module.py
Labels: elkserver, docker

#208 Moved error handling from modules to daemon script
  elkserver/docker/redelk-base/redelkinstalldata/scripts/daemon.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_backendalarm/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_httptraffic/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_lastline/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_useragent/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_csbeacon/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_greynoise/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_iplists/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_synciplists/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_tor/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/helpers.py
Labels: bug, elkserver, docker, alarm
