Repository outflanknl/RedELK, pull requests merged in 2021-05, with the labels that each got.

#156 Fixed Kibana dashboard links
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_visualization.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_visualization.ndjson
Labels: docker, elkserver

#154 Added possibility to set remote base path to get logs from
  elkserver/docker/redelk-base/redelkinstalldata/scripts/getremotelogs.sh
Labels: docker, elkserver

#160 Moved to neo4j official docker to fix #159
  elkserver/redelk-dev.yml
  elkserver/redelk-full.yml
Labels: elkserver, installer

#161 Revert "Moved to neo4j official docker to fix #159"
  elkserver/redelk-dev.yml
  elkserver/redelk-full.yml
Labels: elkserver, installer

#152 Nginx full config optional (via installer)
  elkserver/docker-compose.yml
  elkserver/init-letsencrypt.sh
  elkserver/install-elkserver.sh
  elkserver/mounts/nginx-config/default.conf.template
  elkserver/mounts/nginx-config/full.location-conf.template
  elkserver/redelk-dev.yml
  elkserver/redelk-full.yml
  elkserver/redelk-limited.yml
Labels: elkserver, installer

#164 Revert neo4j changes
  elkserver/mounts/nginx-config/full.location-conf.template
  elkserver/mounts/nginx-config/full.neo4j-conf.template
  elkserver/redelk-dev.yml
  elkserver/redelk-full.yml
Labels: elkserver, installer

#165 Fix logging
  elkserver/docker/redelk-base/redelkinstalldata/scripts/config.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/daemon.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_iplists/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/helpers.py
  elkserver/mounts/redelk-config/etc/redelk/config.json
Labels: docker, elkserver

#166 Fixed rsync
  elkserver/docker/redelk-base/redelkinstalldata/scripts/getremotelogs.sh
Labels: docker, elkserver

#169 Fix es fields
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_.siem-signals.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_bluecheck.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_implantsdb.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_rtops.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_visualization.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_implantsdb.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_rtops.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_.siem-signals.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_implantsdb.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_rtops.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_visualization.ndjson
  elkserver/mounts/nginx-config/default.conf.template
Labels: docker, elkserver

#168 Updates release notes for v2 beta4
  releasenotes.txt
Labels: documentation

#172 Fix filehash alarm
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/module.py
Labels: docker, elkserver
