Repository outflanknl/RedELK, pull requests merged in 2021-09, with the labels that each got.

#187 Updated traffic dashboard + fixed implant log file URL
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_dashboard.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_redirtraffic.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_rtops.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_search.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_visualization.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_dashboard.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_redirtraffic.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_rtops.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_search.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_visualization.ndjson
Labels: elkserver, docker

#200 Fix issue 199 wrong paths in rsync
  .github/workflows/pylint.yml
  c2servers/scripts/copydownloads_outflankstage1.sh
  elkserver/docker/redelk-base/redelkinstalldata/scripts/config.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/daemon.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/getremotelogs.sh
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_backendalarm/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_httptraffic/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_useragent/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/email/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_csbeacon/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_greynoise/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_iplists/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_synciplists/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_tor/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/helpers.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/msteams/module.py
Labels: elkserver, docker, githubci, c2servers

#201 Fix alarm_filehash error
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/ioc_vt.py
Labels: elkserver, docker

#202 removed outflank.nl as active domain to check
  elkserver/mounts/redelk-config/etc/redelk/redteamdomains.conf
Labels: elkserver
