Repository outflanknl/RedELK, pull requests merged in 2021-06, with the labels that each got.

#175 Small fix to make httptraffic alarm work again
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_httptraffic/module.py
Labels: docker, elkserver

#173 Added pylint and re-formatted python code
  .gitignore
  elkserver/docker/redelk-base/redelkinstalldata/scripts/.pylintrc
  elkserver/docker/redelk-base/redelkinstalldata/scripts/config.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/daemon.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/makethumbnail.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_backendalarm/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_dummy/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_httptraffic/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_lastline/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_useragent/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/email/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_csbeacon/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_greynoise/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_iplists/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_synciplists/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_tor/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/helpers.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/msteams/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/requirements.txt
Labels: docker, elkserver

#174 Docker mem tuning
  elkserver/.env.tmpl
  elkserver/docker/redelk-jupyter/Dockerfile
  elkserver/install-elkserver.sh
  elkserver/mounts/jupyter-workbooks/RedELK_Jupyter_Notebook_startup_test.ipynb
  elkserver/redelk-dev.yml
  elkserver/redelk-full.yml
  elkserver/redelk-limited.yml
Labels: docker, elkserver, installer

#180 Fix python deps
  elkserver/docker/redelk-base/Dockerfile
  elkserver/docker/redelk-base/redelkinstalldata/scripts/requirements.txt
Labels: docker, elkserver

#179 Elkinstaller fixes
  c2servers/install-c2server-cobaltstrike.sh
  c2servers/install-c2server-poshc2.sh
  elkserver/install-elkserver.sh
  redirs/install-redir.sh
Labels: c2servers, docker, elkserver, installer, redirs
