Repository outflanknl/RedELK, pull requests merged in 2022-09, with the labels that each got.

#280 Fix for unknown last_seen bug #279
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_greynoise/module.py
Labels: elkserver, docker

#274 Alarm manual
  elkserver/docker/redelk-base/redelkinstalldata/scripts/config.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_manual/module.py
  elkserver/mounts/redelk-config/etc/redelk/config.json
Labels: elkserver, docker

#277 Update run_daemon.sh and redelk-www permission
  elkserver/docker/redelk-base/redelkinstalldata/scripts/run_daemon.sh
  elkserver/install-elkserver.sh
Labels: elkserver, installer, docker

#281 Fixed linter + linted code
  .github/workflows/lint.yml
  elkserver/docker/redelk-base/redelkinstalldata/scripts/Chameleon/chameleon.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/Chameleon/modules/__init__.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/Chameleon/modules/bluecoat.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/Chameleon/modules/ibmxforce.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/Chameleon/modules/trustedsource.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/config.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/daemon.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/makethumbnail.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_backendalarm/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_dummy/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/ioc_hybridanalysis.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/ioc_ibm.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/ioc_vt.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_httptraffic/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_lastline/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_manual/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_useragent/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/email/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_csbeacon/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_greynoise/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_iplists/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_stage1/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_synciplists/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_tor/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/helpers.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/msteams/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/slack/module.py
Labels: elkserver, docker, githubci
