Repository outflanknl/RedELK, pull requests merged in 2022-06, with the labels that each got.

#260 rsync performance tuning
  c2servers/cron.d/redelk_cobaltstrike
  c2servers/cron.d/redelk_outflankstage1
Labels: c2servers

#262 Fix greynoise and traffic dashboard
  elkserver/docker/redelk-base/redelkinstalldata/42_redelk-base-docker-init.sh
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/enrich_greynoise/module.py
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_dashboard.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_.siem-signals.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_bluecheck.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_credentials.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_email.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_implantsdb.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_redelk.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_redirtraffic.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_rtops.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_map.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_search.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_visualization.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_redirtraffic.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_dashboard.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_.siem-signals.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_bluecheck.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_credentials.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_email.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_implantsdb.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_redelk-iplist.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_redelk.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_redirtraffic.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_rtops.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_map.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_search.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_visualization.ndjson
  elkserver/mounts/logstash-config/redelk-main/conf.d/20-filter-redir-haproxy_logstash.conf
  elkserver/mounts/logstash-config/redelk-main/conf.d/21-filter-redir-apache_logstash.conf
  elkserver/mounts/logstash-config/redelk-main/conf.d/22-filter-redir-nginx_logstash.conf
  helper-scripts/export_kibana_config.py
Labels: elkserver, docker, helpers

#265 Fix to only alarm when response is valid Json
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/ioc_hybridanalysis.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/ioc_ibm.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/ioc_vt.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/helpers.py
Labels: elkserver, docker
