Repository outflanknl/RedELK, pull requests merged in 2022-03, with the labels that each got.

#244 rsync parameter update
  elkserver/docker/redelk-base/redelkinstalldata/scripts/getremotelogs.sh
Labels: enhancement, elkserver, docker

#245 Replace nat for cdn
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_backendalarm/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_httptraffic/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_lastline/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_useragent/module.py
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_.siem-signals.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_.siem-signals.ndjson
Labels: elkserver, docker

#246 xforwardedfor with single IP address not parsed for Nginx
  elkserver/mounts/logstash-config/redelk-main/conf.d/22-filter-redir-nginx_logstash.conf
Labels: elkserver

#247 Apache logstash filter bug and typos
  elkserver/mounts/logstash-config/redelk-main/conf.d/20-filter-redir-haproxy_logstash.conf
  elkserver/mounts/logstash-config/redelk-main/conf.d/21-filter-redir-apache_logstash.conf
  elkserver/mounts/logstash-config/redelk-main/conf.d/22-filter-redir-nginx_logstash.conf
Labels: elkserver

#240 Allow admin to set a projectname as prepend in mail-subjects
  elkserver/docker/redelk-base/redelkinstalldata/scripts/config.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/daemon.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/email/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/msteams/module.py
  elkserver/docker/redelk-base/redelkinstalldata/scripts/requirements.txt
  elkserver/mounts/redelk-config/etc/redelk/config.json
Labels: elkserver, docker

#248 229 stage1 download logstash issue
  elkserver/mounts/logstash-config/redelk-main/conf.d/50-filter-c2-outflankstage1_logstash.conf
  elkserver/mounts/logstash-config/redelk-main/scripts/outflankstage1_makedownloadspath.rb
Labels: elkserver

#249 import creds from .env file
  helper-scripts/export_kibana_config.py
Labels: helpers

#250 Updated Kibana app to fix path for ATT&CK Navigator
  .gitignore
  elkserver/docker/redelk-kibana/Dockerfile
Labels: elkserver, docker

#251 Update cobaltstrike logstash to parse DNS beacon
  elkserver/mounts/logstash-config/redelk-main/conf.d/51-filter-c2-cobaltstrike_logstash.conf
Labels: elkserver
