Repository outflanknl/RedELK, pull requests merged in 2022-02, with the labels that each got.

#233 Fix mail module (include png from correct location)
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/email/module.py
Labels: elkserver, docker

#235 source.ip_otherproxies in all redir configs the same
  elkserver/mounts/logstash-config/redelk-main/conf.d/20-filter-redir-haproxy_logstash.conf
  elkserver/mounts/logstash-config/redelk-main/conf.d/21-filter-redir-apache_logstash.conf
  elkserver/mounts/logstash-config/redelk-main/conf.d/22-filter-redir-nginx_logstash.conf
Labels: elkserver

#236 By default turn on alarm backend
  elkserver/mounts/redelk-config/etc/redelk/config.json
Labels: elkserver

#238 Bluecheck update
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_dashboard.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_.siem-signals.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_bluecheck.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_credentials.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_email.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_implantsdb.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_redelk.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_redirtraffic.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_index-pattern_rtops.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_search.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/diff/redelk_kibana_visualization.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_bluecheck.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_elasticsearch_template_redirtraffic.json
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_dashboard.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_.siem-signals.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_bluecheck.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_credentials.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_email.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_implantsdb.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_redelk-iplist.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_redelk.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_redirtraffic.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_index-pattern_rtops.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_search.ndjson
  elkserver/docker/redelk-base/redelkinstalldata/templates/redelk_kibana_visualization.ndjson
  elkserver/mounts/logstash-config/redelk-main/conf.d/80-filter-bluecheck_logstash.conf
  elkserver/mounts/logstash-config/redelk-main/scripts/bluecheck_make_sectools_object.rb
Labels: elkserver, installer, docker

#239 Hybrid Analysis should not alarm on a non 200 (json) response
  elkserver/docker/redelk-base/redelkinstalldata/scripts/modules/alarm_filehash/ioc_hybridanalysis.py
Labels: elkserver, docker

#241 Added back Kibana app
  elkserver/docker/redelk-kibana/Dockerfile
Labels: elkserver, docker
